[submodule "wiki"]
	path = wiki
	url = https://github.com/rapidExpedition/rapidExpedition.wiki.git
[submodule "Xenanthropy"]
	path = Xenanthropy
	url = https://github.com/rapidExpedition/Xenanthropy.git
[submodule "docs"]
	path = docs
	url = https://github.com/rapidExpedition/theExpeditionarium.git
